@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Libre+Franklin:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Fira Mono', monospace;
}

.padding-web {
  @apply px-5 lg:px-40;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.flex-start {
  @apply flex items-start justify-start;
}

.hover-underline {
  @apply hover:underline underline-offset-4;
}

.effects {
  transition: all 0.3s ease-in;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
